<link 
  type="text/css"
  rel="stylesheet"
  href="{{ settings.path }}/templates/{{ meta.filename }}/{{ meta.filename }}.css?v={{ settings.version }}"
>

<div class="custom-widget custom-widget__side-panel">
  <button class="custom-widget__open-button">Открыть виджет</button>
</div>
