.custom-widget__side-panel {
  background-color: #339dc8;
}

.custom-widget__side-panel ~ div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #c1e9fb;
}

.side-panel__open-button {
  background-color: #50add3;
  padding: 5px;
  width: 100%;
  border-radius: 4px;
  color: white;
  font-size: large;
  font-weight: 600;
}

.side-panel__open-button:hover {
  opacity: 0.8;
}

.side-panel__open-button:active {
  opacity: 0.6;
}
