.custom-widget__iframe-modal .modal-body {
  padding: 0px;
  width: fit-content;
  height: fit-content;
}

.custom-widget__iframe {
  display: block;
  box-sizing: border-box;
  height: 90vh;
  width: 85vw;
}
